<form action="/dash/add" method='post'>
  <input type="text" name="name" placeholder="item name">
  <input type="text" name='location' placeholder="item location">
  <input type="submit" value="add item!">


</form>
