<h1>hello <%=session[:current_user].user_name%></h1>

<h1>hello world this is the dash page!</h1>

<a href="/dash/add">Add item</a>
<a href="/dash/list">List inventory</a>
<a href="/dash/sell">Sell item</a>
