<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nucleus</title>
  </head>
  <body>
        <a href="/login">Login</a>
        <a href="/login/register">Register</a>
    <h1>Hello World!</h1>
    <%=yield%>
  </body>
</html>
