<h1>list page</h1>
<a href="/dash">dashboard home</a>

<% @items.each do |item| %>

 <li> id: <%= item.id %> </li>
 <li>name:  <%= item.item_name %> </li>
 <li>location: <%= item.location %> </li>
 
 <form action="/dash/update" method='post'>
    <input type="submit" value="update">
  </form>
  <hr><hr>
  <% end %>
