<h1>Login Page!</h1>

<%if @account%>
  <li> Hello! Thanks for loggin in, <%=@account.user_name%></li>
<%end%>

<form action="/login" method="post">
  <label for="name">User Name:</label>
  <input type="text" name="user_name" placeholder='username'>
  <label for="Password"></label>
  <input type="password" name="password_digest" placeholder="password">
  <input type="submit" value="login">
</form>
