<h1>Register Page</h1>

<form action="/login/register" method="post">
  <label for="name">User Name:</label>
  <input type="text" name="user_name" placeholder='username'>
  <label for="Password"></label>
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="register">
</form>
