<h1>you made it to the update page</h1>

<form action="/confirmation" method='post'>
  <input type="text" name='item_name' value='<%= @item.item_name %>'>
  <input type="text" name='location' value='<%= @item.location %>'>
  <input type="submit" value="update">
</form>
